.modal-dialog {
  @media (min-width: 992px) {
    &.signup {
      max-width: 880px;
    }
  }
  .modal-body {
    .account-handle {
      background: #d8e7ff;
      border-radius: 10px;
      height: 40px;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      color: #353535;
      padding: 7px 20px;
      position: relative;
      margin-bottom: 28px;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 50px;
      @media (max-width: 767.7px) {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 55px;
      }
    }
    h2 {
      margin-top: 15px;
      margin-bottom: 20px;
    }
    h2.plans {
      color: #2e6dde;
      @media (max-width: 767.8px) {
        font-size: 16px;
        line-height: 24px;
        &::after {
          width: 200px;
        }
      }

      &::after {
        width: 250px;
      }
    }
    form {
      .form-group {
        position: relative;
        .handle {
          &::after {
            position: absolute;
            content: url("../../assets/copies.png");
            right: 22px;
            top: 11px;
            cursor: pointer;
          }
        }
        .copy-feedback {
          font-weight: 500;
          font-size: 12px;
          line-height: 30px;
          color: #8c8c8c;
          float: right;
        }
      }
      h3 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #0c0e0d;
        margin-bottom: 25px;
        span {
          font-size: 16px;
          line-height: 24px;
          color: #2e6dde;
        }
        @media (max-width: 767.9px) {
          font-size: 14px;
          line-height: 98.5%;
          span {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .words-safe {
        @media (max-width: 767.9px) {
          flex-wrap: wrap !important;
        }
        .col-md-3 {
          margin: 7px 0;
          div {
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            background: #d8e7ff;
            border-radius: 8px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .download-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #2e6dde;
        margin-bottom: 20px;
        cursor: pointer;
        @media (max-width: 767.9px) {
          font-size: 14px;
        }
      }
      .custom-control-label {
        margin-left: 5px;
        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #2e6dde;
          @media (max-width: 767.9px) {
            font-size: 14px;
          }
        }
      }
      .btn-outline-primary {
        border: 1px solid #2e6dde;
        box-sizing: border-box;
        color: #1e1a02;
        &:hover {
          color: white;
        }
      }
    }
    .signup-process {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-right: 30px;
      margin-top: 45px;
      .process-item {
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: 767.9px) {
          display: none;
        }
        &.active {
          @media (max-width: 767.9px) {
            display: flex;
          }
          .polygon {
            background-color: #2e6dde;
            color: #fff;
            &::after {
              background-color: #2e6dde;
            }
          }
          .process-image {
            border: 2px solid #2e6dde;
            box-shadow: 0px 0px 4px 4px rgba(46, 109, 222, 0.22);
            .image-item {
              background-color: #2e6dde;
            }
          }
        }
        .process-image {
          z-index: 2;
          position: absolute;
          background: #ffffff;
          border: 1px solid #e0ebff;
          box-sizing: border-box;
          box-shadow: 0px 0px 4px 4px rgba(46, 109, 222, 0.22);
          border-radius: 50%;
          width: 37px;
          height: 37px;
          display: flex;
          align-items: center;
          justify-content: center;
          .image-item {
            background-repeat: no-repeat;
            background-color: #616161;

            width: 20px;
            height: 20px;
            &.plan {
              mask: url("../../assets/cart2.svg") no-repeat center;
              -webkit-mask: url("../../assets/cart2.svg") no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
            }
            &.record {
              mask: url("../../assets/padlock.svg") no-repeat center;
              -webkit-mask: url("../../assets/padlock.svg") no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
            }
            &.payment {
              mask: url("../../assets/credit-card.svg") no-repeat center;
              -webkit-mask: url("../../assets/credit-card.svg") no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
            }
            &.confirm {
              mask: url("../../assets/card2.svg") no-repeat center;
              -webkit-mask: url("../../assets/card2.svg") no-repeat center;
              mask-size: contain;
              -webkit-mask-size: contain;
            }
          }
        }
        .polygon {
          background-color: #e0ebff;
          font-size: 14px;
          line-height: 21px;
          color: #666666;
          position: relative;
          height: 29px;
          display: flex;
          align-items: center;
          margin-left: 20px;
          padding-left: 25px;
          &::after {
            clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0% 100%);
            content: "";
            background-color: #e0ebff;
            width: 30px;
            height: 100%;
            position: absolute;
            right: -29px;
          }
        }
      }
    }
    .SendPayment {
      .card-body {
        margin-bottom: 30px;
        position: relative;
        .payment-type {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          left: 0;
          right: 0;
          top: -25px;
          @media (max-width: 767.7px) {
            position: initial;
          }
          .type-item {
            background: #fff;
            color: #616161;
            width: 240px;
            height: 46px;
            box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:first-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            &:last-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
            &.active {
              background: #2e6dde;
              color: #fff;
              position: relative;
              &::after {
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid #2e6dde;
                position: absolute;
                content: "";
                bottom: -12px;
              }
            }
          }
          .d-flex {
            @media (max-width: 767.7px) {
              display: none !important;
            }
          }
          // TODO: switch this to formik
          .redeem-form-error {
            width: 92%;
            margin-top: 0.25rem;
            font-size: 85.7142857%;
            color: #e53e3e;
          }
          .dropdown {
            @media (max-width: 767.7px) {
              display: block !important;
            }
            width: 100%;
            .dropdown-toggle.btn.btn-primary {
              background: #2e6dde;
              box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.2);
              border-radius: 100px;
              height: 50px;
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
              width: calc(100% - 40px);
              position: relative;
              text-align: left;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin: 20px;

              &::after {
                width: 13px;
                height: 13px;
                border-bottom: 3px solid;
                border-left: 3px solid;
                position: absolute;
                right: 16px;
                margin-top: -5px;
              }
            }
            .dropdown-menu {
              margin-left: 20px;
            }
          }
        }
        @media (min-width: 768px) {
          background: #fff;
          box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.17);
          border-radius: 20px;
          margin-top: 60px;
          margin-left: 100px;
          margin-right: 100px;
          padding: 20px;
        }
        // padding: 0;
        margin-top: 30px;
        h3 {
          font-weight: 600;
          font-size: 19px;
          line-height: 28px;
          color: #000;
          margin-bottom: 25px;
          margin-top: 30px;
          @media (max-width: 767.7px) {
            font-size: 16px;
          }
        }
        .payment-content {
          font-size: 16px;
          line-height: 22px;
          color: #3f3e3e;
          margin-bottom: 15px;
          @media (max-width: 767.7px) {
            font-size: 14px;
            line-height: 176.7%;
          }
        }
        .important-content {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #2e6dde;
          margin-bottom: 20px;
        }
        .progress {
          height: 14px;
          margin-bottom: 5px;
          .progress-bar-striped {
            background-size: 4.5rem 4.5rem;
            background-color: #2e6dde;
            background-image: url("../../assets/progress.svg");
            background-position: center;
          }
        }
        .send-email {
          margin-bottom: 7px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #2e6dde;
          @media (max-width: 767.7px) {
            font-size: 14px;
            line-height: 176.7%;
          }
        }

        .need-opct {
          font-size: 16px;
          line-height: 20px;
          color: #000;
          .here {
            color: #2e6dde;
            font-weight: 600;
            cursor: pointer;
          }
          @media (max-width: 767.7px) {
            font-size: 15px;
            line-height: 22px;
          }
        }

        .select-net {
          font-size: 18px;
          line-height: 30px;
          color: #2e6dde;
          font-weight: 600;
          margin-right: 10px;
          margin-bottom: 8px;
          @media (max-width: 767.7px) {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
      .qrcode {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
        @media (max-width: 767.7px) {
          padding: 0;
        }
        .subtitle-bottom-effect {
          &::after {
            content: "";
            width: 100px;
            height: 3px;
            background-color: #2e6dde;
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        h1 {
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #000;
          margin-bottom: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          @media (max-width: 767.7px) {
            font-size: 20px;
            line-height: 30px;
          }
        }
        .col {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @media (max-width: 767.7px) {
            // flex-direction: row;
            flex: 100%;
          }
        }
        .d-flex {
          align-items: center;
          margin-bottom: 20px;
          @media (max-width: 767.7px) {
            // flex-direction: column;
            // align-items: flex-start;
            float: unset;
            margin-bottom: 0;
            div {
              width: 100%;
            }
          }
          h4 {
            font-weight: 600;
            font-size: 16px;
            color: #000;
            margin: 0;
            @media (max-width: 767.7px) {
              margin-bottom: 0;
              margin-left: 10px;
              font-size: 16px;
              line-height: 24px;
            }
          }
          input {
            height: 40px;
            background: #d8e7ff;
            border-radius: 6px;
            width: auto;
            margin: 0 10px;
            @media (max-width: 767.7px) {
              margin: 20px 0;
              height: 45px;
              width: 92%;
            }
          }
          button {
            height: 60px;
            background-color: #2e6dde;
            &:hover {
              opacity: 0.8;
            }
            @media (max-width: 767.7px) {
              height: 45px;
              width: 100%;
            }
          }
        }
        .or-line {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          color: #000;
          position: relative;
          &::before {
            content: "";
            width: 111px;
            height: 1px;
            background-color: #cbdbf4;
            position: absolute;
            left: 0;
            top: 50%;
          }
          &::after {
            content: "";
            width: 111px;
            height: 1px;
            background-color: #cbdbf4;
            position: absolute;
            right: 0;
            top: 50%;
          }
        }
        .scan {
          @media (max-width: 767.7px) {
            margin-top: 30px;
          }
          // margin-top: 40px;
          h3 {
            margin: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #000;
            @media (max-width: 767.7px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
          .redeem-button {
            width: 180px;
            float: right;
            margin-right: 30px;
            @media (max-width: 767.7px) {
              float: unset;
              margin-left: 50px;
            }
          }
        }
      }
    }
    .ConfirmPayment {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #8b8b8b;
      padding: 50px;
      @media (max-width: 767.9px) {
        font-size: 18px;
        line-height: 27px;
        padding: 10px;
      }
      .plans {
        margin-top: 70px;
        margin-bottom: 28px;
        @media (max-width: 767.9px) {
          margin-top: 28px;
        }
      }
      .login-link {
        font-weight: 500;
        font-size: 21px;
        line-height: 31px;
        text-align: center;
        text-decoration-line: underline;
        color: #666968;
        margin-bottom: 28px;
        cursor: pointer;
        @media (max-width: 767.9px) {
          font-size: 18px;
          line-height: 27px;
        }
      }
      .account-handle {
        margin-top: 28px;
      }
    }
    .form-group {
      position: relative;
      .handle {
        &::after {
          position: absolute;
          content: url("../../assets/copies.png");
          right: 22px;
          top: 14px;
          cursor: pointer;
        }
      }
      .copy-feedback {
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #8c8c8c;
        float: right;
      }
    }
  }
  &.signup {
    .modal-body {
      .plans {
        font-size: 22px;
        @media (max-width: 767.9px) {
          font-size: 20px;
        }
      }
    }
  }
}

.progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 10s linear infinite progress-bar-stripes;
}

.custom-form-size {
  padding: 10px !important;
  padding-top: 50px !important;
}

.stripe-cc-input {
  background: #d8e7ff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  height: 40px;
}

.stripe-cc-input-error {
  border: 1px solid #ff3860;
}

.cardform-highlight-text {
  background: #d8e7ff;
  border-radius: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #353535;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 22px;
}

.or {
  display: flex;
  flex-direction: row;
  color: #778291;
  margin: 10px auto;
  width: 100%;
  &::before,
  &::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #778291;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.close {
  position: absolute;
  right: 12px;
  top: 5px;
}

.confirmation-modal {
  .modal-content {
    overflow: hidden;
  }

  .modal-title {
    font-size: 22px;
    font-weight: bold;
  }

  .modal-body {
    font-size: 16px;
    margin: 20px;
  }
}

.modal.fade {
  background: rgba(0, 0, 0, 0.5);
}
