.modal-dialog {
  .modal-content {
    border-radius: 15px;
  }
  // top: 100px;
  .modal-body {
    position: relative;
    padding: 0;
    .loading {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 15px;
    }
    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #000;
      position: relative;
      margin-top: 30px;
      &::after {
        content: "";
        width: 36px;
        height: 3px;
        background-color: #2e6dde;
        position: absolute;
        bottom: -10px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 767.9px) {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
    form {
      padding: 50px 50px;
      @media (max-width: 767.9px) {
        padding: 30px 10px;
        img {
          width: 68px;
        }
      }

      .form-control {
        background: #d8e7ff;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #353535;
        // height: 57px;
        padding-left: 20px;
        height: 40px;
       
      }
      .btn {
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        height: 40px;
        border-radius: 10px;
        img {
          width: 18px;
        }
      }
      .btn-outline-primary {
        border-color: #4680e8 !important;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2E6DDE !important;
        &:hover{
          color: #fff !important;
        }
      }
      .forgot {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #2e6dde;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        padding-bottom: 0;
      }
      .border-line {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1c1c1d;
        margin: 25px 0;
        text-align: center;
        position: relative;
        &::before {
          content: "";
          width: 50%;
          height: 1px;
          background-color: #cbdbf4;
          position: absolute;
          left: -40px;
          top: 50%;
        }
        &::after {
          content: "";
          width: 50%;
          height: 1px;
          background-color: #cbdbf4;
          position: absolute;
          right: -40px;
          top: 50%;
        }
        @media (max-width: 767.9px) {
          &::before {
            left: 0;
            width: 40%;
          }
          &::after {
            right: 0;
            width: 40%;
          }
        }
      }
    }
  }
  .copy-feedback {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #8c8c8c;
    float: right;
  }

  .share-close-button {
    width: 20px;
    margin-top: 20px;
    margin-left: calc(100% - 40px);
    cursor: pointer;
  }
}

.manual-copy {
  width: 100%;
  border: none;
  
  &:active,
  &:focus {
    border: none  !important;
  }
}