.rename{
    .modal-content{
        border-radius: 0;
    }
    .modal-body form{
        padding: 10px;
    }
}
form.rename-form{
    text-align: center;
    .form-control{
        background-color: #fff !important;
        border-radius: 3px !important;
    }
    .btn{
        width: auto !important;
    }
}