.container-fluid {
  padding: 0;
}
.navbar-vertical.navbar-expand-lg {
  width: 304px;
  // background: linear-gradient(180deg, #fff 0%, #d1def5 100%), #f9fbff;
  // box-shadow: 3px 4px 14px 1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #d3e0f6, #d3e0f6), #f9fbff;
  box-shadow: 3px 4px 14px 1px rgba(0, 0, 0, 0.25);
  .navbar-brand {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2e6dde;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 20px;
    justify-content: flex-start;
    cursor: pointer;
    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #2e6dde;
      margin-top: 12px;
    }
    .navbar-brand-image {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    @media (max-width: 767.9px) {
      display: none;
    }
  }
  .navbar-nav {
    padding: 10px 30px 10px 30px;
    border-top: 1px solid rgba(160, 194, 255, 0.59);
    border-bottom: 1px solid rgba(160, 194, 255, 0.59);
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-grow: 0;
    .nav-item {
      flex-direction: row;
      justify-content: initial;
      padding: 14px 0;
      cursor: pointer;
      .nav-icon {
        width: 30px;
        height: 30px;
        background: #fff;
        box-shadow: 0px 4px 25px rgba(70, 128, 232, 0.63);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        &.nav-icon-upload {
          &::after {
            position: absolute;
            content: "";
            mask: url("../../assets/file.svg") no-repeat center;
            -webkit-mask: url("../../assets/file.svg") no-repeat center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #2e6dde;
            -webkit-mask-size: 20px;
            mask-size: 20px;
          }
        }
        &.nav-icon-folder {
          &::after {
            position: absolute;
            content: "";
            mask: url("../../assets/upload-folder.svg") no-repeat center;
            -webkit-mask: url("../../assets/upload-folder.svg") no-repeat center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #2e6dde;
            -webkit-mask-size: 20px;
            mask-size: 20px;
          }
        }
        &.nav-icon-logout {
          &::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #2e6dde;
            content: "";
            position: absolute;
            mask: url("../../assets/logout.svg") no-repeat center;
            -webkit-mask: url("../../assets/logout.svg") no-repeat center;
            -webkit-mask-size: 20px;
            mask-size: 20px;
          }
        }
        &.nav-icon-pro {
          font-weight: bold;
          font-size: 18px;
          line-height: 27px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2e6dde;
        }
      }
      .nav-link {
        font-size: 12px;
        line-height: 13px;
        color: #424242;
        padding: 8px;
      }
      &:hover {
        .nav-link {
          color: #076f26;
        }
        .nav-icon {
          &.nav-icon-upload {
            &::after {
              background-color: #076f26;
            }
          }
          &.nav-icon-folder {
            &::after {
              background-color: #076f26;
            }
          }
          &.nav-icon-logout {
            &::after {
              background-color: #076f26;
            }
          }
          &.nav-icon-pro {
            color: #076f26;
          }
        }
      }
    }
  }
  @media (max-width: 769px) {
    position: fixed;
    width: 280px;
    z-index: 1;
    transform: translateX(-300px);
    height: 100vh;
    overflow: auto;
    top: 70px;
    transition: all 0.3s;
    &.show {
      transform: translateX(0);
      .collapse.navbar-collapse {
        display: block;
      }
    }
  }
}
.download-section {
  border-top: 1px solid rgba(160, 194, 255, 0.59);
  margin-bottom: 70px;
  .position-mac {
    margin-left: 40px;
    margin-top: 20px;
    width: 240px;
  }
  .position-window {
    margin-left: 40px;
    margin-top: 15px;
    width: 240px;
  }
  .item-icon {
    background-color: #eaf1ff;
    width: 20px;
    height: 20px;
    &.file-download {
      mask: url("../../assets/direct-download1.svg") no-repeat center;
      -webkit-mask: url("../../assets/direct-download1.svg") no-repeat center;
      -webkit-mask-size: contain;
      // width: 40px;
      // height: 23px;
    }
    &.mac-item {
      margin-right: 10px;
    }
    &.win-item {
      margin-left: 5px;
    }
  }
}

#download-tooltip > .tooltip-inner {
  background: #050578;
  max-width: 100%;
}
#download-tooltip > .arrow {
  top: 50%;
  left: 0;
  margin-top: -15px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #050578;
}
#download-tooltip {
  width: 320px;
}

.tooltip-style {
  margin: 10px 10px 10px 10px;
  .tooltip-header {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .tooltip-content {
    color: white;
    font-size: 14px;
  }
}

// tree style
.folder-tree {
  padding: 45px 30px;
  h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 50%;
    color: #000;
    text-transform: uppercase;
  }
  div {
    outline: none;
  }
  .tree-menu {
    margin-top: 20px;
    li {
      outline: none;
      list-style: none;
      margin-inline-start: 0;
      padding-inline-start: 0;
    }
  }
  .tree-menu {
    outline: none;
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    .rstm-tree-item--active {
      background: #d8e7ff;
      border-radius: 8px;
    }
    .rstm-toggle-icon {
      position: relative;
    }
    .rstm-toggle-icon-symbol {
      font-size: 0;
      &::before {
        content: "";
        background-color: #505050;
        mask: url("../../assets/arrow-right.svg") no-repeat center;
        -webkit-mask: url("../../assets/arrow-right.svg") no-repeat center;
        position: absolute;
        width: 20px;
        height: 20px;
        left: -20px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    li {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 13px;
      color: #3f3e3e;
      padding: 10px 30px !important;
      position: relative;
      &.rstm-tree-item {
        padding-left: 35px !important;
      }
      &.rstm-tree-item-level0 {
        padding-left: 25px !important;
      }
      &.rstm-tree-item-level2 {
        padding-left: 45px !important;
      }
      &.rstm-tree-item-level3 {
        padding-left: 55px !important;
      }
    }
    .opened {
      // background: #d8e7ff;
      // border-radius: 8px;
      .rstm-toggle-icon-symbol {
        font-size: 0;
        &::before {
          content: "";
          background-color: #505050;
          mask: url("../../assets/arrow-down.svg") no-repeat center;
          -webkit-mask: url("../../assets/arrow-down.svg") no-repeat center;
          position: absolute;
          width: 20px;
          height: 20px;
          left: -20px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}

.account-info {
  padding: 0px 20px 10px 20px;
  font-size: 15px;
  color: #585858;

  .account-button {
    display: block;
    margin: 15px 30px 30px 30px;
    border-radius: 100px;
    box-shadow: 0px 4px 25px rgba(70, 128, 232, 0.63);

    .copy-icon {
      margin-left: 2px;
      height: 16px;
    }
  }
  .storage-info {
    margin-bottom: 10px;
    font-size: 12px;
    span {
      font-weight: bold;
      line-height: 50%;
      color: #2e6dde;
    }
  }
  .danger {
    border: 1px solid #e53e3e !important;
  }
  .progress {
    height: 12px;
    background: #d3e3ff;
    border: 1px solid #2e6dde;
    box-sizing: border-box;
    border-radius: 100px;
    .progress-bar {
      background: #2e6dde;
      border-radius: 100px 0px 0px 100px;
    }
  }
  .upgrade {
    font-weight: 600;
    font-size: 14px;
    text-decoration-line: underline;
    color: #2e6dde;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    // margin-bottom: 40px;
  }
  .renew {
    padding-top: 38px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(80, 137, 240, 0.41);
    justify-content: center;
    text-align: center;
    // margin-left: -50px;
    // margin-right: -50px;
    .d-flex {
      display: flex !important;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 17px;
      line-height: 50%;
      color: #2e6dde;
      cursor: pointer;
      &:hover {
        color: #076f26;
        .account-icon {
          &::after {
            background-color: #076f26;
          }
        }
      }
    }
    .account-icon {
      width: 40px;
      height: 40px;
      background: #fff;
      box-shadow: 0px 4px 25px rgba(70, 128, 232, 0.63);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        mask: url("../../assets/user.svg") no-repeat center;
        -webkit-mask: url("../../assets/user.svg") no-repeat center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #2e6dde;
      }
    }
  }
}

.file-content {
  margin-inline-start: 304px;
  display: flex;
  flex-direction: column;
  position: relative;
  outline: none;
  height: 100vh;
  overflow: hidden;
  .file-header {
    height: 60px;
    background: #2e6dde;
    box-shadow: 0px 4px 19px rgba(70, 128, 232, 0.21);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    flex: 0 0 60px;
    @media (max-width: 769px) {
      padding: 0;
    }
    &.file-header.selected-info {
      justify-content: space-between;
      .selected-area {
        padding-right: 20px;
      }
    }
    .selected-info {
      border: 1px solid #fff;
      box-sizing: border-box;
      border-radius: 100px;
      height: 44px;
      min-width: 200px;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 50%;
      color: #fff;
      padding: 0 15px;
      position: relative;
      justify-content: center;
      .circle-check {
        content: url("../../assets/circle-check.svg");
        position: absolute;
        left: 15px;
      }
      @media (max-width: 769px) {
        border: none;
        justify-content: left;
        .circle-check {
          display: none;
        }
      }
    }
  }
  .header-item {
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #eaf1ff;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .item-text {
      @media (max-width: 769px) {
        display: none;
      }
    }
    .custom-nav-icon:hover {
      color: inherit !important;
    }
    .item-icon {
      background-color: #eaf1ff;
      width: 30px;
      height: 30px;
      &.file-upload {
        mask: url("../../assets/direct-download.svg") no-repeat center;
        -webkit-mask: url("../../assets/direct-download.svg") no-repeat center;
      }
      &.file-download {
        mask: url("../../assets/direct-download1.svg") no-repeat center;
        -webkit-mask: url("../../assets/direct-download1.svg") no-repeat center;
        -webkit-mask-size: contain;
        width: 40px;
        height: 23px;
      }
      &.file-delete {
        mask: url("../../assets/delete.svg") no-repeat center;
        -webkit-mask: url("../../assets/delete.svg") no-repeat center;
        -webkit-mask-size: contain;
        width: 40px;
        height: 23px;
      }
      &.file-close {
        mask: url("../../assets/close.svg") no-repeat center;
        -webkit-mask: url("../../assets/close.svg") no-repeat center;
        -webkit-mask-size: contain;
        width: 17px;
        height: 17px;
      }
      &.file-cancel {
        mask: url("../../assets/cancel.svg") no-repeat center;
        -webkit-mask: url("../../assets/cancel.svg") no-repeat center;
        -webkit-mask-size: contain;
        width: 40px;
        height: 23px;
      }
      &.help-center {
        border-radius: 100px;
        color: #2e6dde;
        width: 25px;
        height: 25px;
      }
      &.new-folder {
        mask: url("../../assets/add-folder.svg") no-repeat center;
        -webkit-mask: url("../../assets/add-folder.svg") no-repeat center;
      }
      &.grid-view {
        background: url("../../assets/grid-view.png") no-repeat center;
      }
      &.table-view {
        background: url("../../assets/table-view.png") no-repeat center;
      }
    }
    &.header-item-absolute {
      margin-top: -4px;
      margin-right: 62px;
      &.list-view {
        margin-top: -43px;
      }
      @media (max-width: 769px) {
        margin-right: 25px;
      }
    }
  }
  .container-xl {
    padding: 50px;
    flex: 1 1;
    overflow: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: none;
    .breadcrumb-content {
      border-bottom: 2px solid #e2e2e2;
      margin-bottom: 10px;
      .home-icon {
        content: url("../../assets/home.svg");
        margin-top: 5px;
      }
      .breadcrumb-item {
        font-weight: 500;
        font-size: 16px;
        color: #3f3e3e;
        a {
          color: #3f3e3e;
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        content: url("../../assets/arrow-right.svg");
      }
    }
    .icon-folder {
      content: "";
      mask: url("../../assets/folder.svg") no-repeat center;
      -webkit-mask: url("../../assets/folder.svg") no-repeat center;
      margin-right: 40px;
      background-color: #3f3e3e;
      width: 20px;
      height: 20px;
    }
    .icon-document {
      content: "";
      mask: url("../../assets/document.svg") no-repeat center;
      -webkit-mask: url("../../assets/document.svg") no-repeat center;
      margin-right: 40px;
      background-color: #3182ce;
      width: 20px;
      height: 20px;
    }
    .icon-image {
      content: "";
      mask: url("../../assets/image.svg") no-repeat center;
      -webkit-mask: url("../../assets/image.svg") no-repeat center;
      margin-right: 40px;
      background-color: #2f855a;
      width: 20px;
      height: 20px;
    }
    .icon-zip {
      content: "";
      mask: url("../../assets/zip.svg") no-repeat center;
      -webkit-mask: url("../../assets/zip.svg") no-repeat center;
      margin-right: 40px;
      background-color: #3f3e3e;
      width: 20px;
      height: 20px;
    }
    .icon-video {
      content: "";
      mask: url("../../assets/video.svg") no-repeat center;
      -webkit-mask: url("../../assets/video.svg") no-repeat center;
      margin-right: 40px;
      background-color: #c53030;
      width: 20px;
      height: 20px;
    }
    .table {
      tr {
        cursor: pointer;
        td {
          font-size: 14px;
          color: #686363;
          border: none;
          &.file-name {
            font-weight: 500;
            font-size: 14px;
            height: 20px;
            color: #3f3e3e;
            .d-flex {
              align-items: center;
            }
          }
        }
        td:last-child {
          width: 1px;
        }
        &.selected {
          background: #d8e7ff;
          border-radius: 10px;
          td {
            color: #2e6dde;
          }
          .icon-folder {
            background-color: #2e6dde;
          }
        }
      }
      .file-selected {
        .dropdown-toggle {
          &::after {
            filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(104%) contrast(97%);
          }
        }
      }
    }
    .dropdown {
      .dropdown-toggle {
        border: none;
        background: none;
        box-shadow: none;
        &::after {
          content: url("../../assets/dots.svg");
          transform: none;
          height: 18px;
          margin: unset;
          border: none;
        }
        &:hover {
          &::after {
            filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(104%) contrast(97%);
          }
        }
        &:focus {
          background-color: #ddd;
          &::after {
            filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(104%) contrast(97%);
          }
        }
      }
      .dropdown-menu {
        margin-top: 4px;
      }
      .dropdown-item {
        padding: 10px 30px;
      }
      .icon-share {
        content: url("../../assets/share2.svg");
        margin-right: 20px;
      }
      .icon-link {
        content: url("../../assets/publich_share.svg");
        margin-right: 20px;
      }
      .icon-download {
        content: url("../../assets/direct-download1.svg");
        margin-right: 20px;
      }
      .icon-delete {
        content: url("../../assets/delete.svg");
        margin-right: 20px;
      }
      .icon-rename {
        content: url("../../assets/edit.svg");
        margin-right: 20px;
      }
      .icon-move {
        content: url("../../assets/cut.svg");
        margin-right: 15px;
      }
      .icon-paste {
        content: url("../../assets/paste.svg");
        margin-right: 15px;
      }
    }
    .grid-view {
      display: inline-block;
      @media (max-width: 768px) {
        // text-align: center;
      }
      .grid-item {
        text-align: center;
        display: inline-block;
        width: 150px;
        height: 134px;
        margin-bottom: 35px;
        margin-right: 20px;
        position: relative;
        @media (max-width: 768px) {
          margin-bottom: 15px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .grid-item-selected {
          border: 1px solid #e4dede;
          border-radius: 2px;
        }
        .grid-selected-icon {
          position: absolute;
          top: 18px;
          left: 8px;
          width: 26px;
          height: 26px;
          background: #e6efff;
          border-radius: 13px;
          padding: 6px;
          content: url("../../assets/check.svg");
        }
        .grid-context-menu-area {
          position: absolute;
          top: 10px;
          right: 20px;
          width: 26px;
          height: 26px;
          padding: 4px;
        }
        .items {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100%;
          padding: 20px;
          //  border: 1px solid #E4DEDE;
          box-sizing: border-box;
          border-radius: 2px;
          padding: 20px;
          h3 {
            font-weight: 500;
            font-size: 15px;
            color: #000000;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
          }
          .file-info {
            font-weight: normal;
            font-size: 13px;
            color: #2d2d2d;
          }
          i {
            width: 40px;
            height: 40px;
            display: block;
            -webkit-mask-size: contain;
            margin: auto;
          }
        }
      }
    }
    .empty-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      img {
        margin-bottom: 50px;
        width: 60%;
      }
      h4 {
        font-weight: 500;
        font-size: 20px;
        line-height: 50%;
        color: #b7b7c4;
        margin-bottom: 25px;
      }
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #b7b7c4;
      }
    }
  }
  .dnd-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 304px;
    .content-wrapper {
      padding: 100px;
      height: 100%;
      .overlay-content {
        background: rgba(255, 255, 255, 0.15);
        border: 2px dashed #fff;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img {
          width: 60px;
          margin-bottom: 25px;
        }
        span {
          font-weight: 600;
          font-size: 30px;
          line-height: 50%;
          color: #fff;
        }
      }
    }
  }
  @media (max-width: 769px) {
    margin: 0;
    .file-header {
      justify-content: center;
    }
    .container-xl {
      padding: 15px;
    }
  }
}

.mobile-header {
  display: none;
  height: 71px;
  align-items: center;
  justify-content: center;

  @media (max-width: 769px) {
    display: flex;
    .navbar-toggler {
      position: absolute;
      left: 15px;
    }
    .navbar-brand {
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      color: #2e6dde;
      padding-top: 30px;
      padding-bottom: 15px;
      cursor: pointer;
      span {
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #2e6dde;
        margin-top: 5px;
      }
      .navbar-brand-image {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
  }
}

.custom-sidebar {
  z-index: 2 !important;
  position: fixed !important;
}

.limit-alert {
  width: 100% !important;
  border-radius: 0 !important;
  text-align: center;
  .alert-link {
    text-decoration-line: underline;
    @media (max-width: 767.9px) {
      display: block;
    }
  }
  button {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.25rem 1rem;
    color: inherit;
    font-size: 25px;
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
}

.side-bar-footer {
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #3f77db;
  height: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: white;
  padding: 15px;

  span {
    text-decoration-line: underline;
  }
}

.file-table-header {
  th.sortable {
    position: relative;
    cursor: pointer;
  }

  th.sortable::after {
    margin-left: 14px;
    color: #999;
    content: url("../../assets/sortable.svg");
  }

  th.sortable.asc::after {
    content: url("../../assets/sort_up.svg");
  }

  th.sortable.desc::after {
    content: url("../../assets/sort_down.svg");
  }

  th.sortable:hover::after {
    color: #333;
  }
}

.type {
  .badge {
    border-radius: 100px;
    width: 14px;
    height: 14px;
    min-width: inherit;
    span.badge-content {
      font-size: 10px;
    }
  }
}

.tooltip {
  margin-top: 24px !important;
}

.percentage-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  color: #2e6dde;
}

.searchbox-container {
  display: flex;
  justify-content: right;
  margin: 5px 40px 10px 0px;
  .searchbox-input {
    width: 250px;
    margin-right: 20px;
  }
}
