
.old-file-content {
    display: flex;
    flex-direction: column;
    position: relative;
    outline: none;
    height: 100vh;
    overflow: hidden;
    .file-header {
      height: 60px;
      background: #2e6dde;
      box-shadow: 0px 4px 19px rgba(70, 128, 232, 0.21);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 40px;
      flex: 0 0 60px;
      @media (max-width: 769px) {
        padding: 0;
      }
      &.file-header.selected-info {
        justify-content: space-between;
        .selected-area {
          padding-right: 20px;
        }
      }
      .selected-info {
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 100px;
        height: 44px;
        min-width: 200px;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 50%;
        color: #fff;
        padding: 0 15px;
        position: relative;
        justify-content: center;
        .circle-check {
          content: url("../../assets/circle-check.svg");
          position: absolute;
          left: 15px;
        }
        @media (max-width: 769px) {
          border: none;
          justify-content: left;
          .circle-check {
            display: none;
          }
        }
      }
    }
    .header-item {
      align-items: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      color: #eaf1ff;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      .item-text {
        @media (max-width: 769px) {
          display: none;
        }
      }
      .item-icon {
        background-color: #eaf1ff;
        width: 30px;
        height: 30px;
        &.file-upload {
          mask: url("../../assets/direct-download.svg") no-repeat center;
          -webkit-mask: url("../../assets/direct-download.svg") no-repeat center;
        }
        &.file-download {
          mask: url("../../assets/direct-download1.svg") no-repeat center;
          -webkit-mask: url("../../assets/direct-download1.svg") no-repeat center;
          -webkit-mask-size: contain;
          width: 40px;
          height: 23px;
        }
        &.file-delete {
          mask: url("../../assets/delete.svg") no-repeat center;
          -webkit-mask: url("../../assets/delete.svg") no-repeat center;
          -webkit-mask-size: contain;
          width: 40px;
          height: 23px;
        }
        &.file-close {
          mask: url("../../assets/close.svg") no-repeat center;
          -webkit-mask: url("../../assets/close.svg") no-repeat center;
          -webkit-mask-size: contain;
          width: 17px;
          height: 17px;
        }
        &.file-cancel {
          mask: url("../../assets/cancel.svg") no-repeat center;
          -webkit-mask: url("../../assets/cancel.svg") no-repeat center;
          -webkit-mask-size: contain;
          width: 40px;
          height: 23px;
        }
        &.new-folder {
          mask: url("../../assets/add-folder.svg") no-repeat center;
          -webkit-mask: url("../../assets/add-folder.svg") no-repeat center;
        }
        &.grid-view {
          background: url("../../assets/grid-view.png") no-repeat center;
        }
        &.table-view {
          background: url("../../assets/table-view.png") no-repeat center;
        }
      }
      &.header-item-absolute {
        margin-top: -4px;
        margin-right: 62px;
        &.list-view {
          margin-top: -60px;
        }
        @media (max-width: 769px) {
          margin-right: 25px;
        }
      }
    }
    .container-xl {
      padding: 50px;
      flex: 1 1;
      overflow: auto;
      display: flex;
      width: 100%;
      flex-direction: column;
      max-width: none;
      .breadcrumb-content {
        border-bottom: 2px solid #e2e2e2;
        margin-bottom: 20px;
        .home-icon {
          content: url("../../assets/home.svg");
          margin-top: 5px;
        }
        .breadcrumb-item {
          font-weight: 500;
          font-size: 16px;
          color: #3f3e3e;
          a {
            color: #3f3e3e;
          }
        }
        .breadcrumb-item + .breadcrumb-item::before {
          content: url("../../assets/arrow-right.svg");
        }
      }
      .icon-folder {
        content: "";
        mask: url("../../assets/folder.svg") no-repeat center;
        -webkit-mask: url("../../assets/folder.svg") no-repeat center;
        margin-right: 40px;
        background-color: #3f3e3e;
        width: 20px;
        height: 20px;
      }
      .icon-document {
        content: "";
        mask: url("../../assets/document.svg") no-repeat center;
        -webkit-mask: url("../../assets/document.svg") no-repeat center;
        margin-right: 40px;
        background-color: #3182ce;
        width: 20px;
        height: 20px;
      }
      .icon-image {
        content: "";
        mask: url("../../assets/image.svg") no-repeat center;
        -webkit-mask: url("../../assets/image.svg") no-repeat center;
        margin-right: 40px;
        background-color: #2f855a;
        width: 20px;
        height: 20px;
      }
      .icon-zip {
        content: "";
        mask: url("../../assets/zip.svg") no-repeat center;
        -webkit-mask: url("../../assets/zip.svg") no-repeat center;
        margin-right: 40px;
        background-color: #3f3e3e;
        width: 20px;
        height: 20px;
      }
      .icon-video {
        content: "";
        mask: url("../../assets/video.svg") no-repeat center;
        -webkit-mask: url("../../assets/video.svg") no-repeat center;
        margin-right: 40px;
        background-color: #c53030;
        width: 20px;
        height: 20px;
      }
      .table {
        tr {
          cursor: pointer;
          td {
            font-size: 14px;
            color: #686363;
            border: none;
            &.file-name {
              font-weight: 500;
              font-size: 14px;
              height: 20px;
              color: #3f3e3e;
              .d-flex {
                align-items: center;
              }
            }
          }
          td:last-child {
            width: 1px;
          }
          &.selected {
            background: #d8e7ff;
            border-radius: 10px;
            td {
              color: #2e6dde;
            }
            .icon-folder {
              background-color: #2e6dde;
            }
          }
        }
        .file-selected {
          .dropdown-toggle {
            &::after {
              filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(200deg)
                brightness(104%) contrast(97%);
            }
          }
        }
      }
      .dropdown {
        .dropdown-toggle {
          border: none;
          background: none;
          box-shadow: none;
          &::after {
            content: url("../../assets/dots.svg");
            transform: none;
            height: 18px;
            margin: unset;
            border: none;
          }
          &:hover {
            &::after {
              filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(200deg)
                brightness(104%) contrast(97%);
            }
          }
          &:focus {
            background-color: #ddd;
            &::after {
              filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(200deg)
                brightness(104%) contrast(97%);
            }
          }
        }
        .dropdown-menu {
          margin-top: 4px;
        }
        .dropdown-item {
          padding: 10px 30px;
        }
        .icon-share {
          content: url("../../assets/share2.svg");
          margin-right: 20px;
        }
        .icon-link {
          content: url("../../assets/publich_share.svg");
          margin-right: 20px;
        }
        .icon-download {
          content: url("../../assets/direct-download1.svg");
          margin-right: 20px;
        }
        .icon-delete {
          content: url("../../assets/delete.svg");
          margin-right: 20px;
        }
        .icon-rename {
          content: url("../../assets/edit.svg");
          margin-right: 20px;
        }
      }
      .grid-view {
        display: inline-block;
        @media (max-width: 768px) {
          // text-align: center;
        }
        .grid-item {
          text-align: center;
          display: inline-block;
          width: 150px;
          height: 134px;
          margin-bottom: 35px;
          margin-right: 20px;
          position: relative;
          @media (max-width: 768px) {
            margin-bottom: 15px;
            margin-left: 10px;
            margin-right: 10px;
          }
          .grid-item-selected {
            border: 1px solid #e4dede;
            border-radius: 2px;
          }
          .grid-selected-icon {
            position: absolute;
            top: 18px;
            left: 8px;
            width: 26px;
            height: 26px;
            background: #e6efff;
            border-radius: 13px;
            padding: 6px;
            content: url("../../assets/check.svg");
          }
          .grid-context-menu-area {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 26px;
            height: 26px;
            padding: 4px;
          }
          .items {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            padding: 20px;
            //  border: 1px solid #E4DEDE;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 20px;
            h3 {
              font-weight: 500;
              font-size: 15px;
              color: #000;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
              overflow: hidden;
            }
            .file-info {
              font-weight: normal;
              font-size: 13px;
              color: #2d2d2d;
            }
            i {
              width: 40px;
              height: 40px;
              display: block;
              -webkit-mask-size: contain;
              margin: auto;
            }
          }
        }
      }
      .empty-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        img {
          margin-bottom: 50px;
          width: 60%;
        }
        h4 {
          font-weight: 500;
          font-size: 20px;
          line-height: 50%;
          color: #b7b7c4;
          margin-bottom: 25px;
        }
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          color: #b7b7c4;
        }
      }
    }
    @media (max-width: 769px) {
      margin: 0;
      .file-header {
        justify-content: center;
      }
      .container-xl {
        padding: 15px;
      }
    }
}
