img {
  max-width: 100%;
  height: auto;
}

.rubic-container {
  margin-top: 80px;
  margin-bottom: 160px;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;

    @media (max-width: 767.9px) {
      flex-wrap: wrap;
    }
  }

  h1 {
    font-size: 45px;
    line-height: 67px;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
    text-align: center;
    @media (max-width: 767.9px) {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      color: #000;
    }
  }

  .subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #000;
    text-align: center;
    @media (max-width: 767.9px) {
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 10px !important;
      margin-top: 10px;
    }
  }

  .descriptions {
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #898989;
    @media (max-width: 767.9px) {
      font-size: 14px;
      line-height: 191.4%;
    }
  }

  .learn-more {
    text-align: left;
  }

  .left {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .rubic-widget-wrapper {
    max-width: 100%;
    width: 600px;
    display: flex;

    .rubic-widget {
      justify-content: flex-end !important;
    }

    @media (max-width: 767.9px) {
      .rubic-widget {
        justify-content: center !important;
      }
    }
  }
}

.first-ele {
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: url("../../assets/bg1.png");
  background-color: #2e6dde;
  color: white;
  text-align: center;
  @media (max-width: 767.9px) {
    padding-top: 30px;
    padding-bottom: 10px;
    img {
      display: none;
      &.d-none {
        display: block !important;
        margin: auto;
      }
    }
  }
  h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    @media (max-width: 767.9px) {
      font-size: 20px;
      line-height: 26px;
      padding: 0 10px;
    }
  }
  .banner-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #e4eeff;
    @media (max-width: 767.9px) {
      display: none;
    }
  }
  .powered-by-polygon {
    cursor: pointer;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    @media (max-width: 767.9px) {
      img {
        display: block;
        margin-bottom: 40px;
      }
    }
  }
  .description {
    font-size: 18px;
    line-height: 26px;
    color: #e4eeff;
    @media (max-width: 767.9px) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px !important;
    }
  }
  .btn-upload-container {
    justify-content: flex-end;
    @media (max-width: 767.9px) {
      justify-content: center;
    }
  }
  .btn-cart {
    &:hover {
      opacity: 0.8;
    }
    font-weight: 600;
    font-size: 15px !important;
    line-height: 26px;
    color: #084bc3;
    padding-left: 0.5rem;
    span {
      width: 40px;
      font-size: 15px !important;
      height: 40px;
      background-color: #084bc3;
      border-radius: 50%;
      margin-right: 15px;
      background-image: url("../../assets/cart.svg");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center;
    }
  }
  .btn-cart-container {
    @media (max-width: 767.9px) {
      display: flex;
      justify-content: center;
    }
  }
  .btn-upload {
    &:hover {
      opacity: 0.8;
      border-color: #084bc4 !important;
    }
    font-weight: 600;
    font-size: 15px !important;
    line-height: 26px;
    color: white;
    padding-left: 0.5rem;
    background-color: #084bc4;
    span {
      width: 40px;
      height: 40px;
      background-color: #fff;
      font-size: 15px !important;
      border-radius: 50%;
      margin-right: 15px;
      background-image: url("../../assets/upload.svg");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center;
    }
  }
  @media (max-width: 767.9px) {
    .btn {
      width: 245px;
      height: 51px;
      margin: 10px 0;
      position: relative;
      padding-left: 60px;
      span {
        position: absolute;
        left: 6px;
      }
    }
  }
}

.second-ele {
  padding-top: 150px;
  padding-bottom: 130px;
  @media (max-width: 767.9px) {
    padding-bottom: 0;
    padding-top: 0;
    .col-md-5 {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
  .card-items {
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: 767.9px) {
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 30px;
    }
    .image-ele {
      width: 210px;
      height: 210px;
      margin: auto;
      margin-bottom: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 204px;
      @media (max-width: 767.9px) {
        margin-bottom: 25px;
      }
    }
    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #050b17;
      margin-bottom: 20px;
      position: relative;
      &::after {
        content: "";
        width: 13px;
        height: 2px;
        background-color: #000;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 767.9px) {
        font-size: 17px;
        line-height: 25px;
      }
    }
    .descriptions {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000;
      @media (max-width: 767.9px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
    &.image-personal {
      .image-ele {
        background-image: url("../../assets/personal.svg");
      }
    }
    &.image-pay {
      .image-ele {
        background-image: url("../../assets/pay.svg");
      }
    }
    &.image-share {
      .image-ele {
        background-image: url("../../assets/share.svg");
      }
    }
  }

  .how-it-works {
    @media (max-width: 767.9px) {
      margin-top: 0 !important;
      .col-md-12:nth-child(3) {
        .col-md-5 {
          &.pr-4 {
            order: 2;
          }
        }
      }
    }

    .dot-left {
      background-image: url("../../assets/dot-left.svg");
      height: 260px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 30px 0;
      @media (max-width: 767.9px) {
        display: none;
      }
    }
    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      color: #000;
      @media (max-width: 767.9px) {
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 10px !important;
        margin-top: 10px;
      }
    }
    .descriptions {
      font-weight: normal;
      font-size: 22px;
      line-height: 33px;
      color: #898989;
      @media (max-width: 767.9px) {
        font-size: 14px;
        line-height: 191.4%;
      }
    }
  }
}

.third-ele {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../../assets/opacity.png");
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 767.9px) {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 45px;
    line-height: 67px;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
    @media (max-width: 767.9px) {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      color: #000;
    }
  }
  h3 {
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #898989;
    margin-bottom: 60px;
    @media (max-width: 767.9px) {
      font-size: 14px;
      line-height: 190.1%;
      padding: 0 !important;
      margin-bottom: 30px;
    }
  }
  .btn-primary {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    height: 53px;
    background-color: #084bc4;
    @media (max-width: 767.9px) {
      width: 100%;
      font-weight: 600;
      font-size: 15px;
      line-height: 26px;
      height: 45px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
.fourth-ele {
  background-image: url("../../assets/bg2.png");
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 400px;
  background-size: 450px;
  padding-top: 200px;
  margin-top: 100px;
  @media (max-width: 767.9px) {
    padding-top: 0;
    margin-top: 0;
    background-image: none;
  }
  .container-xl {
    position: relative;
  }
  .container-xl::after {
    content: url("../../assets/dot-right.png");
    position: absolute;
    left: 150px;
    bottom: -140px;
    @media (max-width: 767.9px) {
      content: none;
    }
  }
  h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 114.8%;
    margin-bottom: 30px;
    @media (max-width: 767.9px) {
      font-weight: 600;
      font-size: 16px;
      line-height: 114.8%;
      margin-bottom: 15px;
    }
  }
  h4 {
    font-size: 18px;
    line-height: 27px;
    color: #9b9b9b;
    @media (max-width: 767.9px) {
      font-size: 14px;
      line-height: 191.4%;
    }
  }
  .mt-7 {
    margin-top: 70px;
  }
  .col-md-6 {
    position: relative;
    @media (max-width: 767.9px) {
      padding-left: 12px !important;
      padding-right: 12px !important;
      &.pr-4 {
        margin-bottom: 0;
        margin-top: 10px;
        order: 2;
      }
    }
    @media (max-width: 767.9px) {
      padding-left: 12px !important;
      padding-right: 12px !important;
      &.pl-4 {
        margin-bottom: 20px;
        margin-top: 10px;
        img {
          display: none;
          &.d-none {
            display: block !important;
          }
        }
      }
    }
    img {
      position: relative;
      z-index: 10;
    }
    .circle-primary {
      width: 239px;
      height: 239px;
      border: 35px solid #2e6dde;
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      right: 0;
      @media (max-width: 767.9px) {
        border: 10px solid #2e6dde;
        width: 81px;
        height: 81px;
        right: 75px;
        bottom: 0;
        top: auto;
      }
    }
  }
}
.six-ele {
  @media (max-width: 767.9px) {
    background-image: none;
    padding-top: 0;
    margin-top: 0;
  }
  background-image: url("../../assets/bg3.png");
  background-repeat: no-repeat;
  background-position: left 0;
  background-size: 400px;
  background-size: 450px;
  padding-top: 150px;
  margin-top: 50px;
  h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 114.8%;
    margin-bottom: 30px;
    @media (max-width: 767.9px) {
      font-weight: 600;
      font-size: 16px;
      line-height: 114.8%;
      margin-bottom: 15px;
    }
  }
  h4 {
    font-size: 18px;
    line-height: 27px;
    color: #9b9b9b;
    @media (max-width: 767.9px) {
      font-size: 14px;
      line-height: 191.4%;
    }
  }
  .mt-7 {
    margin-top: 70px;
  }
  .col-md-6 {
    position: relative;
    @media (max-width: 767.9px) {
      padding-left: 12px !important;
      padding-right: 12px !important;
      &.pr-4 {
        text-align: right;
        margin-bottom: 20px;
        margin-top: 10px;
        img {
          display: none;
          &.d-none {
            display: block !important;
            margin-left: auto;
          }
        }
      }
    }
    img {
      position: relative;
      z-index: 10;
    }
    .circle-yellow {
      width: 239px;
      height: 239px;
      border: 35px solid #fdd801;
      border-radius: 50%;
      position: absolute;
      top: 50px;
      left: -40px;
      @media (max-width: 767.9px) {
        border: 10px solid #fdd801;
        width: 81px;
        height: 81px;
        left: 75px;
        bottom: 0;
        top: auto;
      }
    }
  }
}
.card-items {
  margin-top: 100px;
  margin-bottom: 150px;
  @media (max-width: 767.9px) {
    margin-top: 30px;
    margin-bottom: 45px;
  }
  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 114.8%;
    text-align: center;
    margin-bottom: 150px;
    @media (max-width: 767.9px) {
      font-size: 17px;
      margin-bottom: 30px;
    }
  }
  .card-item {
    padding: 15px;
    height: 100%;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .rectangle {
      position: relative;
    }
    .rectangle::after {
      background-image: url("../../assets/rectangle.svg");
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      // content: url("../../assets/rectangle.svg");
      // position: absolute;
      top: 12px;
      left: 12px;
      @media (max-width: 767.9px) {
        // right: 16px;
        // left: auto;
      }
    }
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 120.8%;
      padding: 40px 10px 0px 10px;
      @media (max-width: 767.9px) {
        font-size: 16px;
      }
    }
    h3 {
      font-size: 14px;
      line-height: 172.8%;
      color: #7a7979;
      padding: 10px;
    }
    .nav-link {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #000000;
      cursor: pointer;
      padding: 10px;
    }
    &:hover {
      // transition: padding-left .3s linear, padding-right .3s linear;
      // transform: scale(1.1);
      // transition: transform 4.8s cubic-bezier(0.33, 1, 0.68, 1);
      @media (max-width: 767.9px) {
        padding: 20px;
      }
      // padding: 15px;
      background: #fff;
      box-shadow: 0px 4px 25px rgba(70, 128, 232, 0.25);
      border-radius: 10px;
      border-top-left-radius: 60px;
      transition: box-shadow 0.3s ease-in-out;
      img {
        // width: 100%;
        // transform: scale(1.1);
        // transition: transform 4.8s cubic-bezier(.33, 1, .68, 1);
      }
      .rectangle::after {
        // content: "";
        background-image: none;
      }
      .nav-link {
        // color: #4680e8;
      }
      h2 {
        // color: #4680e8;
      }
    }
  }
}

.opct {
  padding-bottom: 50px;
  margin-bottom: 20px;
  margin-top: 80px;
  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 172.8%;
    text-align: center;
    @media (max-width: 767.9px) {
      font-size: 17px;
      margin-bottom: 38px;
    }
  }

  @media (min-width: 767.9px) {
    .col-md-6 {
      display: flex;
      &.left {
        justify-content: flex-start;
        padding-left: 80px;
      }
      &.right {
        justify-content: flex-end;
        padding-right: 80px;
      }
    }
  }

  .card-item {
    width: 300px;
    // margin: auto;
    padding: 20px;
    border: 1px solid #f4f4f4;
    border-radius: 0px 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    &:hover {
      // transform: scale(1.1);
      // transition: transform 4.8s cubic-bezier(0.33, 1, 0.68, 1);
      width: 360px;
      border: 1px solid #4680e8;
      // padding: 50px 20px;
      // margin: auto;
      transition: all 0.3s ease-in-out;
      img {
        // transform: scale(1.3);
      }
      .nav-link {
        // font-size: 20px;
        // line-height: 30px;
        color: #2e6dde;
      }
    }
  }
  .nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
    margin-top: 40px;
    justify-content: center;
    // padding: 0;
    cursor: pointer;
  }
  @media (max-width: 767.9px) {
    padding-bottom: 0;
    margin-bottom: 50px;
    .col-md-6 {
      padding-left: 35px;
      padding-right: 35px;
      .card-item {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 0;
        padding: 40px 0;
        .nav-link {
          font-size: 16px !important;
        }
      }
    }
  }

  .shadow {
    box-shadow: 0px 4px 25px rgba(70, 128, 232, 0.25);
  }
}
