.warning-modal{
    .modal-content{
        border-radius: 0 !important;
    }
    .modal-body{
        padding: 20px !important;
    }
    .modal-footer{
        border-radius: 0 !important;

    }
}